html,
body {
  font-family: Arial, sans-serif;
}

.btn {
  background-color: rgb(182, 16, 16);
}

.btn:hover {
  background-color: white;
  color: rgb(182, 16, 16);
}

.bg-red {
  background-color: rgb(182, 16, 16);
}